<!doctype html>
<html class="no-js" lang="" ng-app="iMadeThis">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>I Made This</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/bitcore-lib/bitcore-lib.js"></script>
        <script src="bower_components/qrcode-generator/js/qrcode.js"></script>
        <script src="bower_components/angular-qrcode/angular-qrcode.js"></script>
        <script src="app.js"></script>

    </head>
    <body ng-controller="MyCtrl">
      <!--Add "success" class to container element for success screen -->
      <div class="container">
        <br>
            <!--Initial -->

          <div class="screen initial" ng-hide="files[0]">

                <h1>What did you make today?</h1>
                <p>Drop your file here to upload</p>
                <div ngf-drop ngf-select ng-model="files" class="dropbox"
                    ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                    >
                </div>
                <button ngf-select ng-model="files" class="btn transparent"
                ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                >Upload file</button>
              </div>

          <div class="overlay" ng-show="files[0]">
            <a href="#" class="close" ng-click="cancel()"></a>

            <!--Preview -->
            <div ng-show="files[0] && !stamping">

              <div class="preview clear-top shadow" ng-class="{'error': previousTimestamps[0]}">
                <span class="file-name">{{files[0].name}}</span>
                <img ng-show="fileType == 'image'" ngf-src="files[0]" class="" />
                <span class="file-type" ng-hide="fileType == 'image'">{{fileExtension}}</span>
              </div>
              <p>This file has not yet been time stamped in the blockchain. Would you like to timestamp it?</p>
              <button class="btn green" ng-click="stampFile()">Stamp it!</button>
            </div>
          </div>

            <!--Scan Screen-->
            <div ng-hide="!stamping || stampSuccess">
              <h1>Stamp it!</h1>
              <div class="panel scan shadow ">
                <qrcode class="qrcode" ng-hide="stampSuccess" data="{{address}}" size="200"></qrcode>
                <!-- <img src="img/qr.png" /> -->
              </div>
              <p>To timestamp this file into the blockchain, use your favorite wallet to send 0.001 BTC to this address.</p>
            </div>

            <!--Success Screen-->
            <div ng-show="stamping && stampSuccess">
                <h1>Success</h1>
              <div class="panel success shadow">
                <img src="img/check.svg" />
                <p>Congratulations! You’ve successfuly timestamped your file into the blockchain.</p>
              </div>
              <button class="btn transparent" ng-click="cancel()">Stamp another File</button>
            </div>
          </div>
      </div>




    </body>
</html>
