@font-face {
  font-family: Titillium;
  src: url(fonts/TitilliumText400wt.otf);
  font-weight: normal;
 }
body {
  margin: 0;
  overflow: hidden;
}
button {
  font-family: Titillium;
}
.shadow {
  box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.7); }

.transparent {
  background-color: rgba(255, 255, 255, 0.2); }

.transparent:hover{
  background-color: rgba(255, 255, 255, 0.26);
}

.green {
  background-color: #09C286; }

.green:hover{
  background-color: #06CC8C;
}

.rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.opaque {
  opacity: 0.8; }

.clear-top {
  margin: 60px auto 0; }

.btn {
  padding: 18px 45px;
  border: 0px;
  margin-top: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  font-size: 1em; }

.btn:hover {
  cursor: pointer;
}

.error {
  border: 2px solid red; }

.hide {
  display: none !important; }

.close {
  height: 30px;
  position: relative;
  top: 10px;
  left: 30px;
  display: block;
  background: url(img/close.svg);
  background-repeat: no-repeat;
  background-size: 15px
 }

body {
  text-align: center;
  color: #fff;
  background-size: cover;
  font-family: "Titillium", sans-serif;
  font-size: 18px; }
  body * {
    box-sizing: border-box; }

p {
  width: 60%;
  margin: auto;
  padding: 30px 0 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
  line-height: 1.4em;
  opacity: 1em;
  font-size: 1em; }

h1 {
  display: block;
  font-size: 2em;
  line-height: 10px;
  height: 44px;
  margin-top: 49px; }

.container {
  max-width: 750px;
  height: 690px;
  margin: 0 auto;
  display: block;
  /*border-radius: 10px;*/
  background-color: #1e5799;
  background: url(img/bg.png) center no-repeat; }
  .container.success {
    background: #09C286; }

.initial {
  display: block;
  width: 100%; }
  .initial h1 {
    display: block;
    height: 0px;
   }
  .initial p {
    padding: 10px 0 0; }

.preview {
  margin-top: 15px;
  max-height: 400px;
  min-height: 400px;
  width: 70%;
  background: #211932;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  max-width: 700px; }
  .preview img {
    width: 100%; }

.dragover {
  border: 2px dashed rgba(255, 255, 255, 0.77)!important;
}

.file-type {
  text-transform: uppercase;
  width: 100%;
  display: block;
  height: 350px;
  background: #3C2668 url(img/file.svg) center no-repeat;
  background-size: 50%;
  padding-top: 32%;
  font-size: 2.4em; }

.file-name {
  position: absolute;
  bottom: 0px;
  left: 0;
  text-align: center;
  width: 100%;
  background: #211932;
  padding: 10px 0; }

.panel {
  max-height: 370px;
  max-width: 370px;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #fff; }
  .panel img {
    width: 100%;
    padding: 5%; }
  .panel.success img {
    width: 50%;
    margin: 20px auto 0px; }
  .panel.success p {
    color: #555;
    padding: 20px 0 40px; }
  .panel.scan{
    padding: 75px 0;
  }

.dropbox {
  display: block;
  width: 400px;
  padding: 140px 0;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  background: url(img/upload.svg) no-repeat center;
  background-size: 50%;
  border-radius: 5px;
  margin: 10% auto 2%; }

.view-transaction {
  text-decoration: none;
  margin-top: 1px;
  display: block;
  color: #6443A9;
  cursor: pointer;
}

.view-transaction > i{
  font-size: 19px;
  margin-left: 3px;
}
